/*--------------------------AREA ADMINISTRATIVA--------------------------*/
#contas{width:100%;height:100%;float:left;margin-top:-190px;background:#444}
#contas #topocontas{width:100%;height:60px;float:left;background:#2d89ef}
#contas #topocontas #logo{cursor:default;float:left;font-size:50px;color:#fff;margin:-5px 0 0 30px}
#contas #menulateral{width:20%;max-width:230px;height:100%;float:left;padding:50px 0}
#contas #menulateral #imagem{width:100%;margin:0 auto 20px auto;float:left}
#contas #menulateral #imagem .perfil{max-width:150px;max-height:200px;margin:0 auto;padding:0 10px}
#contas #menulateral #imagem .nome{width:100%;color:#fff;font-size:18px;margin-top:10px;padding:5px 0;float:left;background:#2d89ef}
#contas #menulateral .item{width:90%;height:100%;float:left;font-size:25px;text-align:left;color:#fff;padding:3px 0 5px 10%;border-bottom:2px solid transparent}
#contas #menulateral .item:hover{border-color:#2d89ef}
#contas #menulateral .item:active,#contas #menulateral .ativo{background:#333}
#contas #menulateral .item .notif{padding:0 10px;color:#fff;float:right;margin:3px 10px -2px 0;background:#e51400}
#contas #editor{width:75%;max-width:1000px;height:100%;min-height:800px;padding-bottom:30px;float:left;background:#fff}
#contas #editor .titulopg{height:70px;float:right;font-size:50px;line-height:70px;color:#fff;margin:40px 0 10px 0;padding:0 1% 0 5%;background:#2d89ef}
#contas #editor .linhafundo{background:#f2f2f2;margin-bottom:0 !important}
#contas #editor .linhafundo:hover .conteudo{color:#fff}
#contas #editor .linha{width:98%;height:100%;float:left;margin:5px 0 5px 2%}
#contas #editor .linha .imagem{max-height:90px}
#contas #editor .linhalista{margin-left:2%;background:#2d89fe}
#contas #editor .linhalista:hover{background:#0072c6}
#contas #editor .linhalista strong{color:#333;font-weight:bold;font-size:20px}
#contas #editor .linha .textarea{height:150px}
#contas #editor .linha .add{float:left!important;line-height:35px;margin:0 10px!important}
#contas #editor .linha .imagem,#contas #editor .linha .radio{float:left}
#contas #editor .linha .conteudo{width:70%;height:100%;float:left;color:#fff;font-size:18px;text-align:left;padding:2% 0 10px 2%}
#contas #editor .linha .ferramentas{width:15%;height:100%;float:right;margin-top:15px}
#contas #editor .linha .ferramentas .item{float:right;margin-right:2%;padding:5px}
#contas #editor .linha .ferramentas .item:hover{background-color:#222}
#contas #editor .linha .nome{text-align:left;color:#333;font-size:22px;margin-left:2%}
#contas #editor .linha .txt,#contas #editor .linha .textarea{width:70%;margin-left:2%;float:left}
#contas #editor .linha .txt-g{width:70%}
#contas #editor .linha .txt-m{width:50%}
#contas #editor .linha .txt-p{width:20%}
#contas #editor .linha .btn{float:right;margin:10px 25% 0 0}
#contas #editor .divisor{width:100%;height:2px;float:left;margin-bottom:10px;background:#777}
#contas #editor .radio{float:left;font-size:18px;margin:10px 0 0 5%}
#contas #editor .alerta{padding:10px 20px;float:left;margin-top:20px;background-color:#e51400}
#contas #editor .alerta p{text-align:left;font-size:18px;color:#fff}
#contas #editor .alertatotal{width:100%;padding:10px 0;float:left;margin-top:30px;background-color:#f25822}
#contas #editor .alertatotal p{text-align:center;font-size:30px}
#contas #erro{float:left;margin:50px 30px}
#contas #boasvindas{max-width:700px;height:400px !important;margin-top:50px;background:#088a68}
#contas #boasvindas .esquerda{width:80%;margin-left:10%}
/*----------------------------EDITOR------------------------------*/
.cleditorMain{width:55%!important;height:200px !important;padding:0;margin-left:2%;background-color:#fff;border:2px solid #ddd}
.cleditorMain:hover{border-color:#aaa}
.cleditorMain iframe{width:100% !important;height:100% !important;border:none;margin:0;padding:0}
.cleditorMain textarea{border:none;overflow-y:scroll;font:10pt Arial,Verdana;resize:none;outline:none;margin:0;padding:0}
.cleditorToolbar{background:#f2f2f2;border-bottom:2px solid #ddd}
.cleditorGroup{float:left;height:26px}
.cleditorButton{float:left;width:25px;height:25px;background:url(/imagens/buttons.gif);padding:1px 0}
.cleditorButton:hover{background-color:#2d89ef!important}
.cleditorDisabled{opacity:0.3;filter:alpha(opacity=30)}
.cleditorDivider{float:left;width:2px;height:25px;background:#CCC;padding:1px 0}
.cleditorPopup{border:2px solid #ddd;background:#fff!important;position:absolute;font:10pt Arial,Verdana;cursor:default;z-index:10000}
.cleditorList div{padding:2px 4px}
.cleditorList p,.cleditorList h1,.cleditorList h2,.cleditorList h3,.cleditorList h4,.cleditorList h5,.cleditorList h6,.cleditorList font{background-color:transparent;margin:0;padding:0}
.cleditorList div:hover{background:#2d89ef}
.cleditorColor{width:150px;padding:1px 0 0 1px}
.cleditorColor div{float:left;width:14px;height:14px;margin:0 1px 1px 0}
.cleditorPrompt{background-color:#F6F7F9;font-size:8.5pt;padding:4px}
.cleditorPrompt input,.cleditorPrompt textarea{font:8.5pt Arial,Verdana}
.cleditorMsg{background-color:#FDFCEE;width:150px;font-size:8.5pt;padding:4px}
